<nav class="nav">
  <div class="nav-container">
    <a href="/" class="logo">Kingsepp</a>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Referenzen</a></li>
      <li><a href="/ai4mbse">AI4MBSE</a></li>
      <li><a href="/impressum">Impressum</a></li>
      <li><a href="/datenschutz">Datenschutz</a></li>
    </ul>
    <div class="nav-links-mobile">
      <a href="/">Referenzen</a>
      <a href="/ai4mbse">AI4MBSE</a>
      <a href="/impressum">Impressum</a>
      <a href="/datenschutz">Datenschutz</a>
    </div>
  </div>
</nav>
